<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
  <div class="chart <%= style if defined? style %>">
    <div class="area">

      <div class="title-bar">
        <h3><%= title %></h3>
      </div>

      <div id="revenue-chart" style="height: 250px; padding: 0px; position: relative;">
        <canvas id="EKG_Canvas" class="flot-base" width="289" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 289px; height: 250px;"></canvas>
      </div>
    </div>
  </div>
  <div class="box no-padding">
    <div class="inner">
    </div>
  </div>
</div>
